<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif</string>
    <key>arrowup</key>
    <string>arrowup.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>club</key>
    <string>club.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>diamond</key>
    <string>diamond.glif</string>
    <key>dnblock</key>
    <string>dnblock.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>heart</key>
    <string>heart.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lfblock</key>
    <string>lfblock.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>openbullet</key>
    <string>openbullet.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>shade</key>
    <string>shade.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>spade</key>
    <string>spade.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u1FB70</key>
    <string>u1F_B_70.glif</string>
    <key>u1FB71</key>
    <string>u1F_B_71.glif</string>
    <key>u1FB72</key>
    <string>u1F_B_72.glif</string>
    <key>u1FB73</key>
    <string>u1F_B_73.glif</string>
    <key>u1FB74</key>
    <string>u1F_B_74.glif</string>
    <key>u1FB75</key>
    <string>u1F_B_75.glif</string>
    <key>u1FB76</key>
    <string>u1F_B_76.glif</string>
    <key>u1FB77</key>
    <string>u1F_B_77.glif</string>
    <key>u1FB78</key>
    <string>u1F_B_78.glif</string>
    <key>u1FB79</key>
    <string>u1F_B_79.glif</string>
    <key>u1FB7A</key>
    <string>u1F_B_7A_.glif</string>
    <key>u1FB7B</key>
    <string>u1F_B_7B_.glif</string>
    <key>u1FB7C</key>
    <string>u1F_B_7C_.glif</string>
    <key>u1FB7D</key>
    <string>u1F_B_7D_.glif</string>
    <key>u1FB7E</key>
    <string>u1F_B_7E_.glif</string>
    <key>u1FB7F</key>
    <string>u1F_B_7F_.glif</string>
    <key>u1FB82</key>
    <string>u1F_B_82.glif</string>
    <key>u1FB83</key>
    <string>u1F_B_83.glif</string>
    <key>u1FB87</key>
    <string>u1F_B_87.glif</string>
    <key>u1FB88</key>
    <string>u1F_B_88.glif</string>
    <key>u1FB8C</key>
    <string>u1F_B_8C_.glif</string>
    <key>u1FB8F</key>
    <string>u1F_B_8F_.glif</string>
    <key>u1FB95</key>
    <string>u1F_B_95.glif</string>
    <key>u1FB98</key>
    <string>u1F_B_98.glif</string>
    <key>u1FB99</key>
    <string>u1F_B_99.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni2500</key>
    <string>uni2500.glif</string>
    <key>uni2502</key>
    <string>uni2502.glif</string>
    <key>uni250C</key>
    <string>uni250C_.glif</string>
    <key>uni2510</key>
    <string>uni2510.glif</string>
    <key>uni2514</key>
    <string>uni2514.glif</string>
    <key>uni2518</key>
    <string>uni2518.glif</string>
    <key>uni251C</key>
    <string>uni251C_.glif</string>
    <key>uni2524</key>
    <string>uni2524.glif</string>
    <key>uni252C</key>
    <string>uni252C_.glif</string>
    <key>uni2534</key>
    <string>uni2534.glif</string>
    <key>uni253C</key>
    <string>uni253C_.glif</string>
    <key>uni256D</key>
    <string>uni256D_.glif</string>
    <key>uni256E</key>
    <string>uni256E_.glif</string>
    <key>uni256F</key>
    <string>uni256F_.glif</string>
    <key>uni2570</key>
    <string>uni2570.glif</string>
    <key>uni2571</key>
    <string>uni2571.glif</string>
    <key>uni2572</key>
    <string>uni2572.glif</string>
    <key>uni2573</key>
    <string>uni2573.glif</string>
    <key>uni2581</key>
    <string>uni2581.glif</string>
    <key>uni2582</key>
    <string>uni2582.glif</string>
    <key>uni2583</key>
    <string>uni2583.glif</string>
    <key>uni258D</key>
    <string>uni258D_.glif</string>
    <key>uni258E</key>
    <string>uni258E_.glif</string>
    <key>uni258F</key>
    <string>uni258F_.glif</string>
    <key>uni2594</key>
    <string>uni2594.glif</string>
    <key>uni2595</key>
    <string>uni2595.glif</string>
    <key>uni2596</key>
    <string>uni2596.glif</string>
    <key>uni2597</key>
    <string>uni2597.glif</string>
    <key>uni2598</key>
    <string>uni2598.glif</string>
    <key>uni259A</key>
    <string>uni259A_.glif</string>
    <key>uni259D</key>
    <string>uni259D_.glif</string>
    <key>uni25E4</key>
    <string>uni25E_4.glif</string>
    <key>uni25E5</key>
    <string>uni25E_5.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
