<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>underscore</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>pi</string>
      <string>bullet</string>
      <string>arrowleft</string>
      <string>arrowup</string>
      <string>radical</string>
      <string>uni2500</string>
      <string>uni2502</string>
      <string>uni250C</string>
      <string>uni2510</string>
      <string>uni2514</string>
      <string>uni2518</string>
      <string>uni251C</string>
      <string>uni2524</string>
      <string>uni252C</string>
      <string>uni2534</string>
      <string>uni253C</string>
      <string>uni256D</string>
      <string>uni256E</string>
      <string>uni256F</string>
      <string>uni2570</string>
      <string>uni2571</string>
      <string>uni2572</string>
      <string>uni2573</string>
      <string>uni2581</string>
      <string>uni2582</string>
      <string>uni2583</string>
      <string>dnblock</string>
      <string>lfblock</string>
      <string>uni258D</string>
      <string>uni258E</string>
      <string>uni258F</string>
      <string>shade</string>
      <string>uni2594</string>
      <string>uni2595</string>
      <string>uni2596</string>
      <string>uni2597</string>
      <string>uni2598</string>
      <string>uni259A</string>
      <string>uni259D</string>
      <string>uni25E4</string>
      <string>uni25E5</string>
      <string>openbullet</string>
      <string>spade</string>
      <string>club</string>
      <string>heart</string>
      <string>diamond</string>
      <string>u1FB70</string>
      <string>u1FB71</string>
      <string>u1FB72</string>
      <string>u1FB73</string>
      <string>u1FB74</string>
      <string>u1FB75</string>
      <string>u1FB76</string>
      <string>u1FB77</string>
      <string>u1FB78</string>
      <string>u1FB79</string>
      <string>u1FB7A</string>
      <string>u1FB7B</string>
      <string>u1FB7C</string>
      <string>u1FB7D</string>
      <string>u1FB7E</string>
      <string>u1FB7F</string>
      <string>u1FB82</string>
      <string>u1FB83</string>
      <string>u1FB87</string>
      <string>u1FB88</string>
      <string>u1FB8C</string>
      <string>u1FB8F</string>
      <string>u1FB95</string>
      <string>u1FB98</string>
      <string>u1FB99</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>A</key>
      <string>base</string>
      <key>B</key>
      <string>base</string>
      <key>C</key>
      <string>base</string>
      <key>D</key>
      <string>base</string>
      <key>E</key>
      <string>base</string>
      <key>F</key>
      <string>base</string>
      <key>G</key>
      <string>base</string>
      <key>H</key>
      <string>base</string>
      <key>I</key>
      <string>base</string>
      <key>J</key>
      <string>base</string>
      <key>K</key>
      <string>base</string>
      <key>L</key>
      <string>base</string>
      <key>M</key>
      <string>base</string>
      <key>N</key>
      <string>base</string>
      <key>O</key>
      <string>base</string>
      <key>P</key>
      <string>base</string>
      <key>Q</key>
      <string>base</string>
      <key>R</key>
      <string>base</string>
      <key>S</key>
      <string>base</string>
      <key>T</key>
      <string>base</string>
      <key>U</key>
      <string>base</string>
      <key>V</key>
      <string>base</string>
      <key>W</key>
      <string>base</string>
      <key>X</key>
      <string>base</string>
      <key>Y</key>
      <string>base</string>
      <key>Z</key>
      <string>base</string>
      <key>a</key>
      <string>base</string>
      <key>ampersand</key>
      <string>base</string>
      <key>arrowleft</key>
      <string>base</string>
      <key>arrowup</key>
      <string>base</string>
      <key>asterisk</key>
      <string>base</string>
      <key>at</key>
      <string>base</string>
      <key>b</key>
      <string>base</string>
      <key>backslash</key>
      <string>base</string>
      <key>bracketleft</key>
      <string>base</string>
      <key>bracketright</key>
      <string>base</string>
      <key>bullet</key>
      <string>base</string>
      <key>c</key>
      <string>base</string>
      <key>club</key>
      <string>base</string>
      <key>colon</key>
      <string>base</string>
      <key>comma</key>
      <string>base</string>
      <key>d</key>
      <string>base</string>
      <key>diamond</key>
      <string>base</string>
      <key>dnblock</key>
      <string>base</string>
      <key>dollar</key>
      <string>base</string>
      <key>e</key>
      <string>base</string>
      <key>eight</key>
      <string>base</string>
      <key>equal</key>
      <string>base</string>
      <key>exclam</key>
      <string>base</string>
      <key>f</key>
      <string>base</string>
      <key>five</key>
      <string>base</string>
      <key>four</key>
      <string>base</string>
      <key>g</key>
      <string>base</string>
      <key>greater</key>
      <string>base</string>
      <key>h</key>
      <string>base</string>
      <key>heart</key>
      <string>base</string>
      <key>hyphen</key>
      <string>base</string>
      <key>i</key>
      <string>base</string>
      <key>j</key>
      <string>base</string>
      <key>k</key>
      <string>base</string>
      <key>l</key>
      <string>base</string>
      <key>less</key>
      <string>base</string>
      <key>lfblock</key>
      <string>base</string>
      <key>m</key>
      <string>base</string>
      <key>n</key>
      <string>base</string>
      <key>nine</key>
      <string>base</string>
      <key>numbersign</key>
      <string>base</string>
      <key>o</key>
      <string>base</string>
      <key>one</key>
      <string>base</string>
      <key>openbullet</key>
      <string>base</string>
      <key>p</key>
      <string>base</string>
      <key>parenleft</key>
      <string>base</string>
      <key>parenright</key>
      <string>base</string>
      <key>percent</key>
      <string>base</string>
      <key>period</key>
      <string>base</string>
      <key>pi</key>
      <string>base</string>
      <key>plus</key>
      <string>base</string>
      <key>q</key>
      <string>base</string>
      <key>question</key>
      <string>base</string>
      <key>quotedbl</key>
      <string>base</string>
      <key>quotesingle</key>
      <string>base</string>
      <key>r</key>
      <string>base</string>
      <key>radical</key>
      <string>base</string>
      <key>s</key>
      <string>base</string>
      <key>semicolon</key>
      <string>base</string>
      <key>seven</key>
      <string>base</string>
      <key>shade</key>
      <string>base</string>
      <key>six</key>
      <string>base</string>
      <key>slash</key>
      <string>base</string>
      <key>space</key>
      <string>base</string>
      <key>spade</key>
      <string>base</string>
      <key>t</key>
      <string>base</string>
      <key>three</key>
      <string>base</string>
      <key>two</key>
      <string>base</string>
      <key>u</key>
      <string>base</string>
      <key>u1FB70</key>
      <string>base</string>
      <key>u1FB71</key>
      <string>base</string>
      <key>u1FB72</key>
      <string>base</string>
      <key>u1FB73</key>
      <string>base</string>
      <key>u1FB74</key>
      <string>base</string>
      <key>u1FB75</key>
      <string>base</string>
      <key>u1FB76</key>
      <string>base</string>
      <key>u1FB77</key>
      <string>base</string>
      <key>u1FB78</key>
      <string>base</string>
      <key>u1FB79</key>
      <string>base</string>
      <key>u1FB7A</key>
      <string>base</string>
      <key>u1FB7B</key>
      <string>base</string>
      <key>u1FB7C</key>
      <string>base</string>
      <key>u1FB7D</key>
      <string>base</string>
      <key>u1FB7E</key>
      <string>base</string>
      <key>u1FB7F</key>
      <string>base</string>
      <key>u1FB82</key>
      <string>base</string>
      <key>u1FB83</key>
      <string>base</string>
      <key>u1FB87</key>
      <string>base</string>
      <key>u1FB88</key>
      <string>base</string>
      <key>u1FB8C</key>
      <string>base</string>
      <key>u1FB8F</key>
      <string>base</string>
      <key>u1FB95</key>
      <string>base</string>
      <key>u1FB98</key>
      <string>base</string>
      <key>u1FB99</key>
      <string>base</string>
      <key>underscore</key>
      <string>base</string>
      <key>uni2500</key>
      <string>base</string>
      <key>uni2502</key>
      <string>base</string>
      <key>uni250C</key>
      <string>base</string>
      <key>uni2510</key>
      <string>base</string>
      <key>uni2514</key>
      <string>base</string>
      <key>uni2518</key>
      <string>base</string>
      <key>uni251C</key>
      <string>base</string>
      <key>uni2524</key>
      <string>base</string>
      <key>uni252C</key>
      <string>base</string>
      <key>uni2534</key>
      <string>base</string>
      <key>uni253C</key>
      <string>base</string>
      <key>uni256D</key>
      <string>base</string>
      <key>uni256E</key>
      <string>base</string>
      <key>uni256F</key>
      <string>base</string>
      <key>uni2570</key>
      <string>base</string>
      <key>uni2571</key>
      <string>base</string>
      <key>uni2572</key>
      <string>base</string>
      <key>uni2573</key>
      <string>base</string>
      <key>uni2581</key>
      <string>base</string>
      <key>uni2582</key>
      <string>base</string>
      <key>uni2583</key>
      <string>base</string>
      <key>uni258D</key>
      <string>base</string>
      <key>uni258E</key>
      <string>base</string>
      <key>uni258F</key>
      <string>base</string>
      <key>uni2594</key>
      <string>base</string>
      <key>uni2595</key>
      <string>base</string>
      <key>uni2596</key>
      <string>base</string>
      <key>uni2597</key>
      <string>base</string>
      <key>uni2598</key>
      <string>base</string>
      <key>uni259A</key>
      <string>base</string>
      <key>uni259D</key>
      <string>base</string>
      <key>uni25E4</key>
      <string>base</string>
      <key>uni25E5</key>
      <string>base</string>
      <key>v</key>
      <string>base</string>
      <key>w</key>
      <string>base</string>
      <key>x</key>
      <string>base</string>
      <key>y</key>
      <string>base</string>
      <key>z</key>
      <string>base</string>
      <key>zero</key>
      <string>base</string>
    </dict>
  </dict>
</plist>
